/* основной цвет текста #434455  */
/* вторичный цвет текста  #2E2F42 */

/* акцент #4D5AE5  */
/* кнопки фон #E7E9FC  */
/* фон #FFFFFF */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f4f4fd;
  --button-border-color: #e7e9fc;
  --list-item-border-color: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .section {
  outline: 1px solid tomato;
} */

/* универсальный класс контейнра предназначен для ограничения контента по ширине */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
}

/* header */

header .container {
  display: flex;
  align-items: center;
  height: 72px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.button {
  text-decoration: none;
}
/* navigation  */
.logo {
  font-family: Raleway, sans-serif;
  font-style: ExtraBold;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 115px;
}

.header .logo {
  margin-right: 76px;
}

header .logo-text {
  color: var(--title-text-color);
}
.site-nav {
  display: flex;
  width: 261px;
  gap: 40px;
  padding: 0;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: #4d5ae5;
}

.auth-nav {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.auth-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* page studio  */

/* hero section  */

.hero {
  background-color: var(--title-text-color);
  text-align: center;
}

.hero.section {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  width: 494px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-bg-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  display: inline-block;
  padding: 16px 32px;
  min-width: 169px;
  font-family: Roboto;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}

/* sections */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: Center;
  color: var(--title-text-color);
}

/* adventages-section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.adventages-list .title,
.team-list .title {
  font-style: Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-text-color);
}

.adventages-list .title {
  margin-bottom: 8px;
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item {
  display: block;
}

.adventages-list .item {
  flex-basis: calc((100% - (24px * 3)) / 4);
}

.section-text {
  text-align: Left;
}

/*about section  */

.section-about {
  padding-top: 0;
}

.about-title {
  margin-bottom: 72px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.about-item {
  flex-basis: calc((100% - (24px * 2)) / 3);
}

/* team section */

.team-title {
  margin-bottom: 72px;
}

.section-team {
  background-color: #f4f4fd;
}

.desc-team {
  margin: 32px 16px;
}

.team-list > li {
  background-color: var(--primary-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}

.team-list .item {
  flex-basis: calc((100% - (24px * 3)) / 4);
}

.card-title {
  margin-bottom: 8px;
}

/* portfolio  */

/* filter  */

.list .list-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--button-bg-color);
  border-radius: 4px;
  border: 1px solid var(--button-border-color);
}

.list .list-item:hover,
.list .list-item:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.section-gallery {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-button .list-item {
  padding: 12px 24px;
}

.list-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* portfolio section  */
.list-cards .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: Left;
  color: var(--title-text-color);
}

.gallery-title {
  margin-bottom: 8px;
}

.desc-card {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border: 1px solid var(--list-item-border-color);
  border-top: none;
}

.gallery-item {
  flex-basis: calc((100% - (24px * 2)) / 3);
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* footer  */
.footer {
  background-color: var(--title-text-color);
}

.footer-text {
  font-weight: 400;
  text-align: Left;
  color: #e7e9fc;
  width: 264px;
}

footer .logo-text {
  color: #f4f4fd;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  display: block;
  margin-bottom: 16px;
}
